*{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    width: 100%;
    height: 100px;
    background: rgb(238 130 238);
}

/*Button of Home Inside Header*/
.Home {
    width: 50px;
    height: 25px;
    position: absolute;
    margin: 38px 0px 0px 1244px;
    background: url(./icons/home.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Circle Profile Inside Header*/
.Perfil{
    width: 37px;
    height: 37px;
    position: absolute;
    margin: 33px 0px 0px 108px;
    background: url(./icons/perfil.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
}

/*Title right of Circle Profile and Inside Header*/
.title_lef_Login{
    color: rgb(255 255 255);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 40px 0px 0px 150px;
    font-family: "Roboto", sans-serif;
}

/*Section of the Nav of the Page*/
.block{
    width: 100%;
    height: 62px;
    
}
/*Icons Inside of Section Nav*/
.icon{
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(./icons/jeans.svg);
    margin: 12px 0px 0px 313px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Icons Inside of Section Nav*/
.icon-02{
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(./icons/shoes.svg);
    margin: 12px 0px 0px 574px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Icons Inside of Section Nav*/
.icon-03{
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(./icons/vestidos.svg);
    margin: 12px 0px 0px 822px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Title General Below Icons Inside section Nav*/
p {
    position: absolute;
    margin: 7px 0px 0px 51px;
    color: rgb(0 0 0);
    font-size: 21px;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
}

/*Section of the Promotion*/
.Promotion{
    width: 100%;
    height: 361px;
    text-align: center;
    display: flex;
    margin-top: 35px;
}

/*First Tilte Inside Section of the Promotion*/
.title{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    margin: 9px 0px 0px 588px;
}

/*First Product Inside Section of the Promotion*/
#promo_01{
    width: 166px;
    height: 218px;
    margin: 57px;
    border-radius: 4px;
    background: url(https://images.unsplash.com/photo-1596552639068-99bd471b579c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Name General of Product Inside Section of the Promotion*/
.name_produto{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 224px 0px 0px 0px;
}

/*value General of Product Inside Section of the Promotion*/
.valor_produto{
    font-family: 'Roboto', sans-serif;
    margin: 251px 0px 0px 1px;
    position: absolute;
    font-size: 15px;
    color: red;
}

/*Second Product Inside Section of the Promotion*/
#promo_02{
    width: 166px;
    height: 218px;
    margin: 57px;
    border-radius: 4px;
    background: url(https://images.unsplash.com/photo-1596703263926-eb0762ee17e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Third Product Inside Section of the Promotion*/
#promo_03{
    width: 166px;
    height: 218px;
    margin: 57px;
    border-radius: 4px;
    background: url(https://images.unsplash.com/photo-1613138413074-f385ccc6b4d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Fourth Product Inside of the Promotion*/
#promo_04{
    width: 166px;
    height: 218px;
    margin: 57px;
    border-radius: 4px;
    background: url(https://images.unsplash.com/photo-1614676471928-2ed0ad1061a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=380&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Fifth Product Inside of the Promotion*/
#promo_05{
    width: 166px;
    height: 218px;
    margin: 57px; 
    border-radius: 4px;
    background: url(https://images.unsplash.com/photo-1542272604-787c3835535d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* */

/*Section of the Jeans*/
#Destaques{
    width: 100%;
    height: 377px;
    text-align: center;
    display: flex;
    margin-top: 28px;
}

/*First Title Inside Section Jeans*/
#title_second_section{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    margin: 9px 0px 0px 588px;
    position: absolute;
}


/*First Block Inside of Section of the Jeans*/
.block_Destaques{
    background: white;
    width: 277px;
    margin: 81px;
    height: 387px;
    box-shadow: 10px 10px 10px -4px #0000006e;
}

/*Title General Inside of the Section of the Jeans*/
.Title_Jeans{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 189px;
    text-align: initial;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin: 309px 0px 0px 2px;
    position: absolute;
}

/*Value General Inside of the Section of the Jeans*/
.Title_valor{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    font-style: normal;
    margin: 347px 0px 0px 6px;
    position: absolute;
}

/*Image Inside of the Section of the Jeans*/
.img{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1541099649105-f69ad21f3246?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Image Inside of the Section of the Jeans*/
.img_01{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1600717535122-ca0b51c5e914?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Image Inside of the Section of the Jeans*/
.img_02{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1475178626620-a4d074967452?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80);
}

/*section of shoes*/
.Shoes{
    width: 100%;
    height: 377px;
    text-align: center;
    display: flex;
    margin-top: 149px;
}

/*First Title Inside Section of the Shoes*/
#title_third_section{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    margin: 9px 0px 0px 588px;
    position: absolute;
}

/*Block General Inside Section of the Shoes*/
.Block_shoes{
    background: white;
    width: 277px;
    margin: 81px;
    height: 387px;
    box-shadow: 10px 10px 10px -4px #0000006e;
}

/*Title General Inside of the Section of the Shoes*/
.Title_shoes{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 189px;
    text-align: initial;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin: 309px 0px 0px 2px;
    position: absolute;
}

/*Value General Inside of the Section of the Shoes*/
.Title_valor{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    font-style: normal;
    margin: 347px 0px 0px 6px;
    position: absolute;
}

/*Image Inside First Block Inside Section of the Shoes*/
.img_03{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=343&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Image Inside Second Block Inside Section of the Shoes*/
.img_04{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Image Inside Second Block Inside Section of the Shoes*/
.img_05{
    width: 277px;
    height: 296px;
    position: absolute;
    background: url(https://images.unsplash.com/photo-1543163521-1bf539c55dd2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=80) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Line of Footer*/
.line_footer {
    width: 880px;
    height: 1px;
    position: absolute;
    margin: 213px 0px 0px 233px;
    background: #35313194;
}

/*Footer of the Home*/
footer{
    width: 100%;
    height: 374px;
    padding: 9px 0px 12px 0px;
    position: absolute;
    margin: 238px 0px 0px 0px;
    display: inline-flex;
}

/*SECTION CATEGORI*/
.Top-Cat{
    width: 273px;
    height: 182px;
    margin: 26px 0px 0px 136px;
}

/*Title General Inside Footer of the Home*/
.TOP-CATEGORIA{
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
    color: #413d3d91;
}

/*Sub-Title General Inside Footer of the Home*/
.sub-tops{
    position: absolute;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    color: #413d3d91;
}

/*Sub-Title-01 General Inside Footer of the Home*/
.sub-tops-01{
    position: absolute;
    color: #413d3d91;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 500;
    margin: 19px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

/*Sub-Title-02 General Inside Footer of the Home*/
.sub-tops-02{
    position: absolute;
    color: #413d3d91;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 500;
    margin: 29px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

/*Button Inside of the Footer of the Home*/
.button{
    display: inline-block;
    width: 274px;
    height: 20px;
    position: absolute;
    margin: 323px 0px 0px 135px;
    font-size: 18px;
    font-style: normal;
    font-family: 'Roboto';
    padding: 10px 0px 27px 0px;
    background: #ff9900;
    color: white;
    outline: none;
    border-style: none;
}

/*Inside Inside of Button and of the Footer of the Home*/
.Title_Button{
    position: absolute;
    margin: 285px 0px 0px 138px;
    color: #33323296;
}

/*Scroll*/
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    background: white;
}

/*Scroll*/
::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #47474796;
}


/*Mobile*/

@media  only screen and  (max-width: 768px),  only screen and (max-device-width: 768px){


    body{
        overflow-x: hidden;
    }

    /*Header*/
    header{
        width: 100%;
        height: 129px;
        background: rgb(238 130 238);
    }

    /*Button of Home Inside Header*/
    .Home {
        width: 50px;
        height: 25px;
        position: absolute;
        margin: 38px 0px 0px 1244px;
        background: url(./icons/home.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*Circle Profile Inside Header*/
    .Perfil {
        width: 11%;
        height: 5%;
        position: absolute;
        margin: 19px 0px 0px 165px;
        background: url(./icons/perfil.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Title right of Circle Profile and Inside Header*/
    .title_lef_Login{
        color: rgb(255 255 255);
        font-size: 21px;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 79px 0px 0px 107px;
        font-family: "Roboto", sans-serif;
    }

    .icon {
        width: 38px;
        height: 38px;
        position: absolute;
        background: url(./icons/jeans.svg);
        margin: 33px 0px 0px 140px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .icon-02 {
        width: 38px;
        height: 38px;
        position: absolute;
        background: url(./icons/shoes.svg);
        margin: 99px 0px 0px 144px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .icon-03 {
        width: 38px;
        height: 38px;
        position: absolute;
        background: url(./icons/vestidos.svg);
        margin: 165px 0px 0px 147px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Promotion {
        width: 100%;
        height: 361px;
        text-align: center;
        display: block;
        margin: 252px 0px 0px 0px;
    }

    .title {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        font-size: 23px;
        font-weight: 700;
        font-style: normal;
        margin: -65px 0px 0px 135px;
    }

    #promo_01 {
        width: 166px;
        height: 218px;
        margin: 57px 0px 96px 109px;
        border-radius: 4px;
        background: url(https://images.unsplash.com/photo-1596552639068-99bd471b579c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #promo_02 {
        width: 166px;
        height: 218px;
        margin: 57px 0px 96px 109px;
        border-radius: 4px;
        background: url(https://images.unsplash.com/photo-1596703263926-eb0762ee17e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #promo_03 {
        width: 166px;
        height: 218px;
        margin: 57px 0px 96px 109px;
        border-radius: 4px;
        background: url(https://images.unsplash.com/photo-1613138413074-f385ccc6b4d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #promo_04 {
        width: 166px;
        height: 218px;
        margin: 57px 0px 96px 109px;
        border-radius: 4px;
        background: url(https://images.unsplash.com/photo-1614676471928-2ed0ad1061a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=380&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #promo_05 {
        width: 166px;
        height: 218px;
        margin: 57px 0px 96px 109px;
        border-radius: 4px;
        background: url(https://images.unsplash.com/photo-1542272604-787c3835535d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Destaques {
        width: 100%;
        height: 377px;
        text-align: center;
        display: block;
        margin: 1287px 0px 96px -30px;
    }

    #title_second_section {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        font-size: 23px;
        font-weight: 700;
        font-style: normal;
        margin: -59px 0px 0px 181px;
        position: absolute;
    }

    .Shoes {
        width: 100%;
        height: 377px;
        text-align: center;
        display: block;
        margin: 1091px 0px 96px -30px;
    }

    #title_third_section {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        font-size: 23px;
        font-weight: 700;
        font-style: normal;
        margin: -46px 0px 0px 180px;
        position: absolute;
    }

    .line_footer {
        width: 100%;
        height: 1px;
        position: absolute;
        margin: 932px 0px 0px 0px;
        background: #35313194;
    }

    footer {
        width: 100%;
        height: 374px;
        padding: 9px 0px 384px 0px;
        position: absolute;
        margin: 917px 0px 0px -75px;
        display: block;
    }

    .Title_Button {
        position: absolute;
        margin: 26px 0px 0px 138px;
        color: #33323296;
    }

    .button {
        display: inline-block;
        width: 274px;
        height: 20px;
        position: absolute;
        margin: 61px 0px 0px 135px;
        font-size: 18px;
        font-style: normal;
        font-family: 'Roboto';
        padding: 10px 0px 27px 0px;
        background: #ff9900;
        color: white;
        outline: none;
        border-style: none;
    }

    .Home {
        width: 50px;
        height: 25px;
        position: absolute;
        margin: 22px 0px 0px 8px;
        background: url(./icons/home.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}


