*{
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    width: 100%;
    height: 100px;
    background: rgb(238 130 238);
}
/*Button black Inside Header*/
.black{
    width: 50px;
    height: 25px;
    position: absolute;
    background: url(../icons/Voltar.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 38px 0px 0px 1244px;
}


/*Circle Inside Header */
.Perfil {
    width: 37px;
    height: 37px;
    position: absolute;
    margin: 33px 0px 0px 108px;
    background: url(../icons/perfil.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
}

/*Title Inside Header*/
h1{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 40px 0px 0px 150px;
    font-family: 'Roboto', sans-serif;
}

/*First Section Below of the Header*/
#First_Section{
    width: 100%;
    height: 95px;
}

a{
    text-decoration: none;
    color: white;
}

/*Article Inside of First Section*/
.nav{
    width: 178px;
    height: 40px;
    position: absolute;;
    display: inline-block;
    margin: 23px 0px 0px 174px;
}

/*Icon Inside of the First Section*/
.icon{
    width: 44px;
    height: 46px;
    background: url(../icons/jeans.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Title Inside of the First Section*/
.title{
    color: rgb(31 30 30);
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-decoration: none;
    margin: -40px 0px 0px 67px;
    font-family: 'Roboto', sans-serif;
    
}

.nav-01{
    width: 178px;
    height: 40px;
    position: absolute;
    display: inline-block;
    margin: 23px 0px 0px 556px;
}



.icon-01{
    width: 44px;
    height: 46px;
    background: url(../icons/shoes.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-02{
    width: 178px;
    height: 40px;
    position: absolute;
    display: inline-block;
    margin: 23px 0px 0px 943px;
}

.icon-02{
    width: 44px;
    height: 46px;
    background: url(../icons/vestidos.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}