* {
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  width: 100%;
  height: 100px;
  background: rgb(238 130 238);
}
/*Button of come back Inside Header*/
.black {
  width: 50px;
  height: 25px;
  position: absolute;
  background: url(../icons/Voltar.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin: 38px 0px 0px 1244px;
}

/*Circle of Profile Inside Header */
.Perfil {
  width: 37px;
  height: 37px;
  position: absolute;
  margin: 33px 0px 0px 108px;
  background: url(../icons/perfil.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
}

/*Title Inside Header*/
h1 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 40px 0px 0px 150px;
  font-family: "Roboto", sans-serif;
}

/*First Section Below of the Header*/
#First_Section {
  width: 100%;
  height: 95px;
}

a {
  text-decoration: none;
  color: white;
}

/*Article Jeans Inside of First Section*/
.nav {
  width: 178px;
  height: 40px;
  position: absolute;
  display: inline-block;
  margin: 23px 0px 0px 174px;
}

/*Icon Jeans Inside of the First Section*/
.icon {
  width: 44px;
  height: 46px;
  background: url(../icons/jeans.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Title's Inside of the First Section*/
.title {
  color: rgb(31 30 30);
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  margin: -40px 0px 0px 67px;
  font-family: "Roboto", sans-serif;
}

/*Article Shoes Inside of First Section*/
.nav-01 {
  width: 178px;
  height: 40px;
  position: absolute;
  display: inline-block;
  margin: 23px 0px 0px 556px;
}

/*Icon Shoes Inside of First Section*/
.icon-01 {
  width: 44px;
  height: 46px;
  background: url(../icons/shoes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Article Dresses Inside of First Section*/
.nav-02 {
  width: 178px;
  height: 40px;
  position: absolute;
  display: inline-block;
  margin: 23px 0px 0px 943px;
}

/*Icon Shoes Inside of FIrst Section*/
.icon-02 {
  width: 44px;
  height: 46px;
  background: url(../icons/vestidos.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second Section Below of Section Nav*/
#Second_Section {
  width: 100%;
  height: 180px;
  display: inline-flex;
}

/*Highli Inside of the Second Section*/
.Highli {
  width: 301px;
  height: 152px;
  margin: 13px auto;
  border-radius: 5px;
  background: rgb(0 0 255);
  box-shadow: 10px 10px 10px #5f5f5f2e;
}

/*Section 0f the Product*/
#Product{
  width: 100%;
  height: 778px;
  background: red;
  margin: 19px 0px 0px 0px;
  display: flex;
}

/*First Product*/
.Product_Jeans_01{
  width: 258px;
  height: 340px;
  margin: 59px 30px 0px 23px;
  background: url(https://images.unsplash.com/photo-1568613065038-396d25f1c222?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Second Product*/
.Product_Jeans_02{
  width: 258px;
  height: 340px;
  margin: 59px 30px 0px 87px;
  background: url(https://images.unsplash.com/photo-1586818239358-a4b31d07f7ed?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=297&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Third Product*/
.Product_Jeans_03{
  width: 258px;
  height: 340px;
  margin: 59px 30px 0px 87px;
  background: url(https://images.unsplash.com/photo-1512130837266-eb3279fd086e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Fourth Product*/
.Product_Jeans_04{
  width: 258px;
  height: 340px;
  margin: 59px 30px 0px 87px;
  background: url(https://images.unsplash.com/photo-1594693126713-dba8d90738bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=426&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}